<div class="container">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12">
                <h2>Pedidos</h2>
            </div>
            <div class="ui-g-4 ui-fluid">
                <label>Nome do Cliente:</label>
                <input [(ngModel)]="filtro.nome"  name="nome" />
            </div>
             <div class="ui-g-4 ui-fluid">
                <label>De:</label>
                <p-calendar [(ngModel)]="filtro.dataPedidoDe" dateFormat="dd/mm/yy" name="dataPedidoDe" [locale]="pt" showButtonBar="true" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <div class="ui-g-4 ui-fluid">
                <label>Até:</label>
                <p-calendar [(ngModel)]="filtro.dataPedidoAte" dateFormat="dd/mm/yy" name="dataPedidoAte" [locale]="pt" showButtonBar="true" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar" icon="pi pi-search" iconPos="right"></button>
            </div>
        </form>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <p-table [value]="pedidos" [paginator]="true" [rows]="filtro.itensPorPagina" [totalRecords]="totalRegistros"
                [lazy]="true" [responsive]="true" (onLazyLoad)="mudarPagina($event)" #tabela6>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-id-header">#Pedido</th>
                        <th class="col-nome-header">Nome Cliente</th>
                        <th class="col-telefone-header">Telefone</th>
                        <th class="col-nome-header">Cidade</th>
                        <th class="col-nome-header">Data do Pedido</th>
                        <th class="col-preco-header">Preço</th>
                        <th class="col-acoes-header">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pedido>
                    <tr>
                        <td class="col-id">{{pedido.id}}</td>
                        <td class="col-nome">{{pedido.cliente.nome}}</td>
                        <td class="col-telefone">{{pedido.cliente.telefone}}</td>
                        <td class="col-nome">{{pedido.cliente.cidade.nome}}</td>
                        <td class="col-nome">{{pedido.datapedido | date:'dd/MM/yyyy'}}</td>
                        <td class="col-preco">R$ {{pedido.valorpedido | number:'1.2-2'}}</td>
                        <td class="col-acoes">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                                class="ui-button-success"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                                (click)="confirmExclusao(pedido)" class="ui-button-danger dist"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7"> Nenhum registro encontrado!</td>
                    </tr>
                </ng-template>
            </p-table>
			
        </div>
    </div>
	
	<div class="ui-g">
	 <div class="ui-g-12">
                <a pButton label="Novo Pedido" class="ui-button-success" icon="pi pi-plus" iconPos="left" routerLink="/pedidos/novo"></a>
      </div>
	</div>
	
	
</div>