<div class="container">
    <div class="ui-g">
        <form autocomplete="off" (ngSubmit)="pesquisar()">
            <div class="ui-g-12">
                <h2>
                    Categorias
                </h2>
            </div>
            <div class="ui-g-8 ui-fluid">
                <label>Nome da Categoria:</label>
                <input type="text" pInputText name="nome" [(ngModel)]="filtro.nome" />
            </div>
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
            </div>
        </form>
    </div>


    <div class="ui-g">
        <div class="ui-g-8">
            <p-table [value]="categorias" [paginator]="true" [rows]="filtro.itensPorPagina"
                [totalRecords]="totalRegistros" [lazy]="true" [responsive]="true" (onLazyLoad)="aoMudarPagina($event)"
                #tabela>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="id">#</th>
                        <th class="nome">Nome</th>
                        <th class="acoes">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cat>
                    <tr>
                        <td class="id">{{cat.id}}</td>
                        <td class="nome">{{cat.nome}}</td>
                        <td class="acoes">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                                [routerLink]="['/categorias',cat.id]" class="ui-button-success"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
                                class="ui-button-danger dist" (click)="confirmarExclusao(cat)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template>
                    <tr>
                        <td colspan="3"> Nenhuma categoria encontrada</td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="ui-g-8">
                <a pButton label="Nova Categoria" routerLink="/categorias/nova"></a>
            </div>
        </div>
    </div>
</div>
