<div class="container">
    <form autocomplete="off">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1> Cadastro de Cidades</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label>Nome da Cidade</label>
                <input pInputText type="text" name="nome">
            </div>

            <div class="ui-g-12 ui-md-8 ui-fluid">
                <label>Estado</label>
                <input pInputText type="text" name="estado">
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar"></button>
                <button pButton type="button" label="Novo"></button>

                <a routerLink="/cidades">Voltar para a Pesquisa</a>
            </div>
        </div>
    </form>
</div>