<div class="container">
    <div class="ui-g">
        <form autocomplete="off">
            <div class="ui-g-12">
                <h2>Pedidos</h2>
            </div>
             <div class="ui-g-6 ui-fluid">
                <label>Nome do Cliente:</label>
                <p-autoComplete  [size]="200" [suggestions]="filtro" (completeMethod)="carregarClientes($event)" placeholder="Informe o nome do cliente"></p-autoComplete>
            </div>
             <div class="ui-g-6 ui-fluid">
                <label>Data Pedido</label>
                <p-calendar [locale]="pt" showButtonBar="true" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
			
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar" icon="pi pi-search" iconPos="right"></button>
            </div>
        </form>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
		  <p-panel header="Itens do Pedido">
		    <button pButton class="ui-button-danger button-dist" label="Adicionar Item" icon="pi pi-plus" iconPos="right" (click)="prepararNovoItem()"></button>
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-id-header">#Item Pedido</th>
                        <th class="col-nome-header">Nome Produto</th>
                        <th class="col-preco-header">Qtde Item</th>
                        <th class="col-preco-header">Valor Unitário</th>
                        <th class="col-preco-header">Total Item</th>
                        <th class="col-acoes-header">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td class="col-id"></td>
                        <td class="col-nome"></td>
                        <td class="col-preco"></td>
                        <td class="col-preco"></td>
                        <td class="col-preco"></td>
                        <td class="col-acoes">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                                class="ui-button-success"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger dist"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6"> Nenhum registro encontrado!</td>
                    </tr>
                </ng-template>
            </p-table>
			</p-panel>
        </div>
    </div>
	
	<div class="ui-g">
	  <div class="ui-g-4">
            <label>Total do Pedido</label>
            <input type="text" pInputText placeholder="Total: R$"/>
      </div>
			
	 <div class="ui-g-12">
	    <button pButton  label="Salvar Pedido" icon="pi pi-save" iconPos="left"></button>
	    <button pButton routerLink="/pedidos" class="ui-button-danger" label="Voltar á Pesquisa" icon="pi pi-step-backward" iconPos="left"></button>
	 </div>
	</div>
</div>

<p-dialog header="Produto" [(visible)]="exibirFormularioItem" modal="true" [closable]="false">
    <div class="container">
	<form autocomplete="off">
	   <div class="ui-g-10 ui-fluid">
                <label>Produto</label>
                <p-autoComplete  [size]="200" [suggestions]="filtro" (completeMethod)="pesquisar()" placeholder="Informe o nome do produto"></p-autoComplete>
        </div>
		<div class="ui-g-3 ui-fluid">
                <label>Qtde Item</label>
                <input type="text" pInputText name="qtde"/>
        </div>
		<div class="ui-g-3 ui-fluid">
                <label>Valor Unitário</label>
                <input type="text" pInputText name="valorunitario"/>
        </div>
		<div class="ui-g-3 ui-fluid">
                <label>Total do item</label>
                <input type="text" pInputText name="totalitem"/>
        </div>
		<div class="ui-g-12">
		  <button pButton class="ui-button-success button-dist" label="Confirmar" type="sumbmit"></button>
		  <button pButton class="ui-button-primary button-dist" label="Fechar" type="button" (click)="closeForm()"></button>
		</div>
	</form>
	</div>
</p-dialog>