


 <div class="container">
    <div class="ui-g">
        <form autocomplete="off">
            <div class="ui-g-12">
                <h2>Pedidos</h2>
            </div>
            <div class="ui-g-4 ui-fluid">
                <label>Código Chamador</label>
               <input type="text" pInputText/>
            </div>
             <div class="ui-g-4 ui-fluid">
                <label>De:</label>
                <p-calendar [locale]="pt" showButtonBar="true" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
            <div class="ui-g-4 ui-fluid">
                <label>Até:</label>
                <p-calendar [locale]="pt" showButtonBar="true" [showIcon]="true" inputId="icon"></p-calendar>
            </div>
			 <div class="ui-g-12 ui-fluid">
                <label>Nome do Cliente:</label>
                <p-autoComplete  [suggestions]="filtro" (completeMethod)="pesquisar()"></p-autoComplete>
            </div>
            <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar" icon="pi pi-search" iconPos="right"></button>
            </div>
        </form>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
		  <p-panel header="Todos os Pedidos">
		    <button pButton class="ui-button-danger button-dist" label="Adicionar Item" icon="pi pi-plus" iconPos="right"></button>
            <p-table>
                <ng-template pTemplate="header">
                    <tr>
                        <th class="col-id-header">#Item Pedido</th>
                        <th class="col-id-header">#Pedido</th>
                        <th class="col-id-header">#Produto</th>
                        <th class="col-preco-header">Qtde Item</th>
                        <th class="col-preco-header">Valor Unitário</th>
                        <th class="col-preco-header">Total Item</th>
                        <th class="col-acoes-header">Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <td class="col-id"></td>
                        <td class="col-id"></td>
                        <td class="col-id"></td>
                        <td class="col-preco"></td>
                        <td class="col-preco"></td>
                        <td class="col-preco"></td>
                        <td class="col-acoes">
                            <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                                class="ui-button-success"></a>
                            <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" class="ui-button-danger dist"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7"> Nenhum registro encontrado!</td>
                    </tr>
                </ng-template>
            </p-table>
			</p-panel>
        </div>
    </div>
	
	<div class="ui-g">
	  <div class="ui-g-4">
            <label>Total do Pedido</label>
            <input type="text" pInputText />
      </div>
			
	 <div class="ui-g-12">
	    <button pButton  label="Salvar Pedido" icon="pi pi-save" iconPos="left"></button>
	    <button pButton class="ui-button-danger" label="Voltar á Pesquisa" icon="pi pi-step-backward" iconPos="left"></button>
	 </div>
	</div>
	
	
</div>
