<div class="container">
    <form autocomplete="off">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1> Cadastro de Clientes</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Nome do Cliente</label>
                <input pInputText type="text" name="nome">
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Nome do Cliente</label>
                <input pInputText type="text" name="nome">
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Telefone</label>
                <input pInputText type="text" name="telefone">
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Cidade</label>
                <input pInputText type="number" name="cidade">
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar"></button>
                <button pButton type="submit" label="Novo"></button>

                <a routerLink="/clientes">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
