<div class="container">
    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
        <div class="ui-g">
            <div class="ui-g-12">
                <h1> Cadastro de Clientes</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Nome do Cliente</label>
                <input pInputText type="text" name="nome" formControlName="nome">

                <app-message [control]="formulario.get('nome')" error="required" text="Informe o nome do Cliente">
                </app-message>
                <app-message [control]="formulario.get('nome')" error="minlength"
                    text="Informe o nome do cliente com tamanho válido">
                </app-message>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Telefone</label>
                <input pInputText type="text" name="telefone" formControlName="telefone">

                <app-message [control]="formulario.get('telefone')" error="required" text="Informe o número de telefone do Cliente">
                </app-message>
                <app-message [control]="formulario.get('telefone')" error="maxlength"
                    text="Informe no máximo 15 caracteres para o número de telefone">
                </app-message>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
                <label> Cidade</label>
                <p-dropdown name="cliente" placeholder="Cliente">

                </p-dropdown>
                <app-message [control]="formulario.get('cidade_id')" error="required" text="Informe o identificação(número) da cidade correspondente ao cliente">
                </app-message>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
                <button pButton type="submit" label="Novo"></button>

                <a routerLink="/clientes">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>