body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Arial;
}

label {
    font-weight: bold;
}

.col-id-header {
    width: 10px;
}

.col-id {
    width: 10px;
    text-align: center;
}

.col-estado-header {
    width: 25px;
}

.col-telefone-header {
    width: 30px;
}

.col-telefone {
    width: 30px;
    text-align: center;
}

.col-estado {
    width: 25px;
    text-align: left;
}

.col-nome-header {
    width: 45px;
}
.col-nome {
    width: 45px;
	text-align: center;
}

.col-acoes-header {
    width: 25px;
}

.col-acoes {
    width: 25px;
    text-align: center;
}

.col-preco-header{
  width:25px;	
}

.col-preco{
   width:25px;	
   text-align: center;
}

#dist{
    margin-right: 2px;
}

@media (min-width: 1200px) {
    .container {
        width: 930px;
        margin: 0 auto;
    }
}
